In [21]:
#Problem Statement

#a) %age of students with a passing grade
#b) %age of women with a passing grade
#c) Average hours of study for all students
#d) Average hours of study for students with a passing grade

In [22]:
import pandas as pd
import numpy as np

loc = "AlgebraPivotData.xlsx"
df = pd.read_excel(loc)
df.head ()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [23]:
df["ispassing"] = np.where(df["Grade"] != 'F', 1, 0)
df.head()

     Fname     Lname Gender Grade  Hours of Study  ispassing
0     Mary  Ettienne      F     B              16          1
1  Charles    Looner      M     F               8          0
2    Betty  Franklin      F     A              24          1
3    Roger   Withers      M     C               5          1
4     John   Mulgrew      M     A               5          1

In [24]:
pd.pivot_table(df, index='ispassing', values = 'Fname', aggfunc='count')

           Fname
ispassing
0             83
1            916

In [25]:
totRec = df.count()

def get_percent(value):
    tot = value.count()
    return tot/totRec * 100

pd.pivot_table(df, index='ispassing', values = 'Fname', aggfunc=[get_percent])

          get_percent
                Fname
ispassing
0            8.308308
1           91.691692

In [32]:
df["women"] = np.where(df["Gender"] == 'F', 1, 0)
df.head()

totwomen = df[df["Gender"] == 'F'].count()
totwomen = totwomen['women']

def get_womenpercent(values):
    passvalue = values.count()
    return passvalue/totwomen * 100

pd.pivot_table(df[df["Gender"] == 'F'], index=['ispassing','women'], values = 'Fname', aggfunc=[get_womenpercent])

                get_womenpercent
                           Fname
ispassing women
0         1             4.633205
1         1            95.366795

In [43]:
studcount = df.count()
studhours = df['Hours of Study'].sum()

print(studhours/studcount)

Fname             15.115115
Lname             15.115115
Gender            15.115115
Grade             15.115115
Hours of Study    15.115115
ispassing         15.115115
women             15.115115
dtype: float64

In [44]:
pd.pivot_table(df, index='ispassing', values = 'Hours of Study', aggfunc=np.average)

           Hours of Study
ispassing
0                6.722892
1               15.875546